{% macro getOverallRiskLevelClass(level) %}
{% if level == 'VERY_HIGH' %}
rosh-widget--very-high
{% elif level == 'HIGH' %}
rosh-widget--high
{% elif level == 'MEDIUM' %}
rosh-widget--medium
{% elif level == 'LOW' %}
rosh-widget--low
{% endif %}
{% endmacro %}

{% macro getRiskLevelText(level) %}
{% if level == 'VERY_HIGH' %}
Very high
{% elif level == 'HIGH' %}
High
{% elif level == 'MEDIUM' %}
Medium
{% elif level == 'LOW' %}
Low
{% endif %}
{% endmacro %}

{% macro getRiskLevelClass(level) %}
{% if level == 'VERY_HIGH' %}
rosh-widget__risk--very-high
{% elif level == 'HIGH' %}
rosh-widget__risk--high
{% elif level == 'MEDIUM' %}
rosh-widget__risk--medium
{% elif level == 'LOW' %}
rosh-widget__risk--low
{% endif %}
{% endmacro %}

{% if roshSummary and roshSummary.hasBeenCompleted %}
<div class="rosh-widget {{ getOverallRiskLevelClass(roshSummary.overallRisk) }}">
    <h3 class="govuk-heading-m"><strong>{{ getRiskLevelText(roshSummary.overallRisk) | upper }}</strong> RoSH</h3>
    <p class="govuk-body-m">Risk of serious harm</p>
    <p class="govuk-hint govuk-body-m">Last updated: {{ roshSummary.lastUpdated | default("Not known") }}</p>

    <table class="govuk-table rosh-widget__table">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header">Risk to</th>
                <th class="govuk-table__header">Community</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th class="govuk-table__header">Children</th>
                <td class="govuk-table__cell {{ getRiskLevelClass(roshSummary.riskToChildren) }}">{{ getRiskLevelText(roshSummary.riskToChildren) | default("No data") }}</td>
            </tr>
            <tr>
                <th class="govuk-table__header">Public</th>
                <td class="govuk-table__cell {{ getRiskLevelClass(roshSummary.riskToPublic) }}">{{ getRiskLevelText(roshSummary.riskToPublic) | default("No data") }}</td>
            </tr>
            <tr>
                <th class="govuk-table__header">Known adult</th>
                <td class="govuk-table__cell {{ getRiskLevelClass(roshSummary.riskToKnownAdult) }}">{{ getRiskLevelText(roshSummary.riskToKnownAdult) | default("No data") }}</td>
            </tr>
            <tr>
                <th class="govuk-table__header">Staff</th>
                <td class="govuk-table__cell {{ getRiskLevelClass(roshSummary.riskToStaff) }}">{{ getRiskLevelText(roshSummary.riskToStaff) | default("No data") }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% elif roshSummary and not roshSummary.hasBeenCompleted %}
<div class="rosh-widget {{ roshWidgetClass }}">
    <h3 class="govuk-heading-m"><strong>NO</strong> RoSH</h3>
    <p class="govuk-body-m">Risk of serious harm</p>
    <p class="govuk-hint govuk-body-m">A RoSH summary has not been completed for this individual.</p>
</div>
{% else %}
<div class="rosh-widget {{ roshWidgetClass }}">
    <h3 class="govuk-heading-m"><strong>UNKNOWN</strong> RoSH</h3>
    <p class="govuk-body-m">Risk of serious harm</p>
    <p class="govuk-hint govuk-body-m">Something went wrong. We are unable to show RoSH information at this time. Try again later.</p>
</div>
{% endif %}
